/**
 * Note that we'd like to use the following import to inline CodeMirror's
 * CSS, but something weird happens with the line number styling and
 * I have no idea why. So CodeMirror CSS needs to be included via a
 * manual <link> tag in the HTML for now.
 *
 * @import '../node_modules/codemirror/lib/codemirror.css';
 */

@import './p5-widget-codemirror-theme.css';

$veryLightGray: #f0f0f0;
$codeFont: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro",
           monospace;

html,
body,
#app-holder,
.app {
  height: 100%;
}

body {
  margin: 0;
}

button {
  font-size: 18px;
  font-family: Karla;
  font-weight: bold;
  color: black;
  background: $veryLightGray;
  border: none;
  padding: 8px;
  cursor: pointer;
}

button:hover {
  background: lightgray;
}

.app {
  display: flex;
  flex-direction: column;
}

.status-bar {
  background: $veryLightGray;
  min-height: 1em;
  font-family: $codeFont;
  padding: 8px;
}

.error-message {
  .error-message-line {
    font-family: Karla;
    font-weight: bold;
    color: red;
  }
}

.toolbar {
  display: flex;

  button {
    margin: 4px;
  }
}

.panes {
  flex: 1;
  display: flex;
  border-top: 4px solid $veryLightGray;

  .editor-holder {
    border-right: 4px solid $veryLightGray;
    flex: 1;

    /* We need this for horizontal scrolling to work properly.
     * Very weird. */
    overflow-x: hidden;
  }

  .preview-holder-wrapper {
    display: flex;
    flex-direction: column;
  }

  .preview-holder {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-right: 4px solid $veryLightGray;
  }

  .preview-holder-wrapper iframe {
    flex: 1;
    border: none;
  }
}

.CodeMirror {
  font-family: $codeFont;

  /* If we don't add this, the final characters on some lines aren't
   * visible if the editor has a horizontal scrollbar. Weird. */
  padding-right: 1em;
}

.CodeMirror-gutters {
  border-right: none;
  background: $veryLightGray;
}

.error-line {
  background: pink;
}
