/**
 * Note that we'd like to use the following import to inline CodeMirror's
 * CSS, but something weird happens with the line number styling and
 * I have no idea why. So CodeMirror CSS needs to be included via a
 * manual <link> tag in the HTML for now.
 *
 * @import '../node_modules/codemirror/lib/codemirror.css';
 */

body {
  margin: 0;
}

.status-bar {
  background: #f0f0f0;
  min-height: 1em;
  font-family: monospace;
  padding: 8px;
}

.error-message {
  color: red;
}

.toolbar {
  display: flex;

  button {
    margin: 4px;
  }
}

.panes {
  display: flex;

  .editor-holder {
    flex: 1;
  }

  .preview-holder iframe {
    border: none;
  }
}
