/**
 * Note that we'd like to use the following import to inline CodeMirror's
 * CSS, but something weird happens with the line number styling and
 * I have no idea why. So CodeMirror CSS needs to be included via a
 * manual <link> tag in the HTML for now.
 *
 * @import '../node_modules/codemirror/lib/codemirror.css';
 */

$veryLightGray: #f0f0f0;

html,
body,
#app-holder,
.app {
  height: 100%;
}

body {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
}

.status-bar {
  background: $veryLightGray;
  min-height: 1em;
  font-family: monospace;
  padding: 8px;
}

.error-message {
  color: red;
}

.toolbar {
  display: flex;

  button {
    margin: 4px;
  }
}

.panes {
  flex: 1;
  display: flex;
  border-top: 4px solid $veryLightGray;

  .editor-holder {
    border-right: 4px solid $veryLightGray;
    flex: 1;
  }

  .preview-holder iframe {
    border: none;
  }
}

.CodeMirror {

}

.CodeMirror-gutters {
  border-right: none;
  background: $veryLightGray;
}
